<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>edit remark</h1>
  <form action="" method="POST">
    <input type="text" name="author" value="<%= remark.author %>">
    <textarea name="remarkTitle" cols="30" rows="10">
      <%= remark.remarkTitle %>
    </textarea>
    <input type="submit" value="edit remark">
  </form>
</body>
</html>