<!DOCTYPE html>
<html>
  <head>
    <title>Event management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome home</h1>
    <a href="/events">go to events</a>
  </body>
</html>
